.blueLine {
    color: blue;
}

.greenLine {
    color: green;
}

.boldLine {
    font-weight: bold;
}

.smallFont {
    font-size: 12px;
}

.borderbox {
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 2px;
}

.frog1 {
    width: 15%;
    float: left;
}

.frog {
    width: 15%;
    padding-left: 20px;
}
.redline {
    color: red;
}

.text {
    float: left;
}





